@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';


html{
    position: relative;
    min-height: 100%;
}

main{ 
    margin-bottom: 450px;
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;

}

/* Carousel Home page */
.c-item{
    height: 500px;

    .c-img{
        height: 100%;
        object-fit: cover;
        filter:brightness(0.5);
    }
    .c-image-employé{
        height:100%;
        object-fit: cover;
        filter:brightness(0.5);

    }
}


.i-section{
    height: 250px; 

    .i-image{
        height: 100%;
        object-fit: cover;  
    }
}



/* pour justifier les text on peut l'ajouter pour d'autres texts.*/
.text-justify{
    text-align: justify;
}


/* Ajoute d'une image.*/
.hero-scene{

    position: relative;
    &::before{
        content:"";
        position: absolute;
        top: 0; 
        left:0;
        width: 100%;
        height: 100%;
        background-image: url(../images/Capture\ d’écran\ 2024-09-17\ à\ 12.23.01.png);
        background-size: cover;
        filter: brightness(0.3) /* pour gérer la luminosité d'une image*/
    }

    *{
        /* Positionner les élément devant le &::before*/
        position: relative;
    }

    /* appliquer une hauter au div */
    .hero-scene-content{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

}

.map-cont{
    width: 100%;
    height: 450px;

    .map-item{
        width: 100%;
        height: 100%;
    }
}

/* Habitats */

.habitats{
    width: 100%;
}

.habittats-section{
    height: 350px;

    .habitats-image{
        height: 100%;
        object-fit: cover;
    }
}

.habitat-div{
    background-color: rgba(196, 154, 108, 0.501);
}


/* Ajoute d'une image.*/
.hero-scene-habitats{

    position: relative;
    &::before{
        content:"";
        position: absolute;
        top: 0; 
        left:0;
        width: 100%;
        height: 100%;
        background-image: url(../images/trees-4558229_1280.jpg);
        background-size: cover;
        filter: brightness(0.4) /* pour gérer la luminosité d'une image*/
    }

    *{
        /* Positionner les élément devant le &::before*/
        position: relative;
    }

    /* appliquer une hauter au div */
    .hero-scene-content-habitats{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .hero-scene-content-text{
        width: 40%;
        

    }
    
}

/* Placing the title on top of a line*/

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.title-container h1 {
   background-color: #ffff;
    padding: 0 20px; /* Space around the text */
    color: #009e9e; /* Your text color */
    z-index: 1; /* Ensure the text appears above the line */
}

.title-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #afafaf; /* Line color */
    top: 50%;
    z-index: 0;
}

.title-container-b {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.title-container-b h1 {
    background-color: rgb(226, 204, 182);
    padding: 0 20px; /* Space around the text */
    z-index: 1; /* Ensure the text appears above the line */
}

.title-container-b::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #afafaf; /* Line color */
    top: 50%;
    z-index: 0;
}


/* Marais */
.hero-scene-marais{

    position: relative;
    &::before{
        content:"";
        position: absolute;
        top: 0; 
        left:0;
        width: 100%;
        height: 100%;
        background-image: url(../images/marais/amphibian-7253136_1280.jpg);
        background-size: cover;
        filter: brightness(0.4) /* pour gérer la luminosité d'une image*/
    }

    *{
        /* Positionner les élément devant le &::before*/
        position: relative;
    }

    /* appliquer une hauter au div */
    .hero-scene-content-marais{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .hero-scene-content-marais-text{
        width: 40%;
        

    }
    
}



.card-custom{
    //background-color:rgba(196, 154, 108, 0.62) ;
    border: 1px solid #58641D;

}


/* Savane */

/* Jungle */
.hero-scene-jungle{

    position: relative;
    &::before{
        content:"";
        position: absolute;
        top: 0; 
        left:0;
        width: 100%;
        height: 100%;
        background-image: url(../images/Capture\ d’écran\ 2024-09-29\ à\ 18.34.44.png);
        background-size: cover;
        filter: brightness(0.4) /* pour gérer la luminosité d'une image*/
    }

    *{
        /* Positionner les élément devant le &::before*/
        position: relative;
    }

    /* appliquer une hauter au div */
    .hero-scene-content-jungle{
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .hero-scene-content-jungle-text{
        width: 40%;
        

    }
    
}