@charset "UTF-8";
c html {
  position: relative;
  min-height: 100%;
}

main {
  margin-bottom: 450px;
}

footer.footer {
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Carousel Home page */
.c-item {
  height: 500px;
}
.c-item .c-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}
.c-item .c-image-employé {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}

.i-section {
  height: 250px;
}
.i-section .i-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* pour justifier les text on peut l'ajouter pour d'autres texts.*/
.text-justify {
  text-align: justify;
}

/* Ajoute d'une image.*/
.hero-scene {
  position: relative;
  /* appliquer une hauter au div */
}
.hero-scene::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/Capture\ d’écran\ 2024-09-17\ à\ 12.23.01.png);
  background-size: cover;
  filter: brightness(0.3); /* pour gérer la luminosité d'une image*/
}
.hero-scene * {
  /* Positionner les élément devant le &::before*/
  position: relative;
}
.hero-scene .hero-scene-content {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-container {
  height: 500px;
}
.welcome-container .image-welcome {
  height: 400px;
}

/* home > habitats */
.image-card {
  position: relative;
}
.image-card:hover .titre-image {
  opacity: 1;
}
.image-card:hover img {
  filter: brightness(0.3);
}
.image-card img {
  transition: all 0.3s;
}
.image-card .titre-image {
  position: absolute; /* permet de positionner un objet par dessus un autre.*/
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  font-family: blonden;
  text-decoration: none;
}

.map-cont {
  width: 100%;
  height: 450px;
}
.map-cont .map-item {
  width: 100%;
  height: 100%;
}

/* Habitats */
.habitats {
  width: 100%;
}

.habittats-section {
  height: 350px;
}
.habittats-section .habitats-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.habitat-div {
  background-color: rgba(196, 154, 108, 0.501);
}

/* Ajoute d'une image.*/
.hero-scene-habitats {
  position: relative;
  /* appliquer une hauter au div */
}
.hero-scene-habitats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/trees-4558229_1280.jpg);
  background-size: cover;
  filter: brightness(0.4); /* pour gérer la luminosité d'une image*/
}
.hero-scene-habitats * {
  /* Positionner les élément devant le &::before*/
  position: relative;
}
.hero-scene-habitats .hero-scene-content-habitats {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-scene-habitats .hero-scene-content-text {
  width: 40%;
}

/* Placing the title on top of a line*/
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.title-container h1 {
  background-color: white;
  padding: 0 20px; /* Space around the text */
  color: #009e9e; /* Your text color */
  z-index: 1; /* Ensure the text appears above the line */
}

.title-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #afafaf; /* Line color */
  top: 50%;
  z-index: 0;
}

.title-container-b {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.title-container-b h1 {
  background-color: rgb(226, 204, 182);
  padding: 0 20px; /* Space around the text */
  z-index: 1; /* Ensure the text appears above the line */
}

.title-container-b::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #afafaf; /* Line color */
  top: 50%;
  z-index: 0;
}

/* Marais */
.hero-scene-marais {
  position: relative;
  /* appliquer une hauter au div */
}
.hero-scene-marais::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/marais/amphibian-7253136_1280.jpg);
  background-size: cover;
  filter: brightness(0.4); /* pour gérer la luminosité d'une image*/
}
.hero-scene-marais * {
  /* Positionner les élément devant le &::before*/
  position: relative;
}
.hero-scene-marais .hero-scene-content-marais {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-scene-marais .hero-scene-content-marais-text {
  width: 40%;
}

.card-custom {
  border: 1px solid #58641D;
}

/* Savane */
/* Jungle */
.hero-scene-jungle {
  position: relative;
  /* appliquer une hauter au div */
}
.hero-scene-jungle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/Capture\ d’écran\ 2024-09-29\ à\ 18.34.44.png);
  background-size: cover;
  filter: brightness(0.5); /* pour gérer la luminosité d'une image*/
}
.hero-scene-jungle * {
  /* Positionner les élément devant le &::before*/
  position: relative;
}
.hero-scene-jungle .hero-scene-content-jungle {
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-scene-jungle .hero-scene-content-jungle-text {
  width: 40%;
}

/* conexion page*/
.hero-scene-conexion {
  position: relative;
  margin-bottom: 20px;
  /* appliquer une hauter au div */
}
.hero-scene-conexion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/conexion/loginpic.png);
  background-size: cover;
  filter: brightness(0.5); /* pour gérer la luminosité d'une image*/
}
.hero-scene-conexion * {
  /* Positionner les élément devant le &::before*/
  position: relative;
}
.hero-scene-conexion .hero-scene-content-conexion {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-scene-conexion .hero-scene-content-conexion-text {
  width: 40%;
}

/* Inscription */
/* conexion page*/
.hero-scene-inscription {
  position: relative;
  margin-bottom: 20px;
  /* appliquer une hauter au div */
}
.hero-scene-inscription::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/conexion/loginpic.png);
  background-size: cover;
  filter: brightness(0.5); /* pour gérer la luminosité d'une image*/
}
.hero-scene-inscription * {
  /* Positionner les élément devant le &::before*/
  position: relative;
}
.hero-scene-inscription .hero-scene-content-inscription {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-scene-inscription .hero-scene-content-inscription-text {
  width: 40%;
}/*# sourceMappingURL=main.css.map */